/* matches tab css assets */ 
* {
    --world-cup-background-color : #b8445f;
    --match-card-color: #ffffffbf;
    --match-form-color: #ffffff;
}

.match-control-panel {
    height: 200px;
    /* background-color: aquamarine; */
    background-image: url('../../images/cruyff.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.match-control-panel h2 {
    margin-left: 20px;
    font-size: 3em;
}

.match-control-panel button {
    padding: 5px 10px;
    margin: 20px;
    /* outline: none; */
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #8d253d;
    background-image: linear-gradient(#b8445f, #8d253d);
    color: rgb(227, 223, 223)
}

.match-control-panel button:hover {
    background-image: none;
    background-color: #8d253d;
}

.matches-container {
    margin-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.match-container {
    padding: 10px;
    color: gray;
    height: 180px;
    border-radius: 10px;
    background-color: var(--match-card-color);
    cursor: pointer;
    /* background-color: var(--world-cup-background-color); */
    /* outline: 4px solid black; */
    /* background-image: linear-gradient(60deg, #a0203e, rgb(178, 94, 108)); */
}

.match-container:hover {
    outline: 1px solid rgb(141, 140, 140);
}

.match-container .inner-container {
    /* margin: 10px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-content: space-between; */
    /* background-color: #b8445f; */
}

/* match card header */
.match-container .inner-container .header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    /* background-color: #b8445f; */
}

.match-container .inner-container .header .header-btns {
    display: flex;
}

.match-container .inner-container .header .header-btns > div {
    padding: 5px;
}

.match-container .inner-container .header .header-btns > div:hover {
    color: #8d253d;
}


.match-container .inner-container .header p {
    margin: 0;
}

/* match card body */
.match-container .inner-container .body {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 0;
    /* background-color: lightblue; */
}

.match-container .inner-container .body > div {
    width: 25%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-color: #b8445f; */
}
.match-container .inner-container .body > div p {
    margin: 0;
    width: max-content
}


.match-container .inner-container .body  img {
    width: 100%;
    height: 50%;
}

/* match card footer */
.match-container .inner-container .footer {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    /* background-color: #b8445f; */
    /* align-items: center; */
}


/* --------------- match form popup window -------------------*/
.match-form-con {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
}

.match-form {
    width: 500px;
    height: 500px;
    background-color: var(--match-form-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.match-form .inner-cont {
    /* background-color: #b8445f; */
    width: 100%;
    height: 100%;
    padding: 10px 20px; 
}

.match-form .inner-cont .header {
    background-color: #8d253d;
    height: 100px;
} 