/* Matches Slot*/
.matchesSlot {
    min-height: 700px;
    margin: 5% 0 0 0;
    position: relative;
}

.matchesSlot .slotHeader {
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
}

.matchesSlot .slotHeader h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative; 
}

.matchesSlot .slotHeader h2::before, .matchesSlot .slotHeader h2::after {
    content: "";
    background-color: black;
    height: 1px;
    width: 170px;
    display: inline-block;
    position: absolute;
    top: 50%;
}

.matchesSlot .slotHeader h2::before {
    left: 120%;
}
.matchesSlot .slotHeader h2::after {
    right: 120%;
}

.matchesSlot img {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    z-index: 0;
    filter: grayscale(100%);
    opacity: 0.2;
    mix-blend-mode: color-burn;
}

/* ===================== Matches ===================== */
.matchesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matchesContainer a {
    text-decoration: none;
    color: black;
}

.matchContainer{
    background-image: linear-gradient(rgba(240, 240, 240, 1), rgba(216, 216, 216, 1));
    border: 1px solid black;
    margin: 2%;
    height: 150px;
    width: 60%;
    border-radius: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.matchContainer .match_teams {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.matchContainer .match_teams span {
    font-size: 0.8em;
    font-weight: normal;
}