.images_container {
    /* background-color: aqua; */
    padding-top: 5%;
    /* position: relative; */
    height: 700px;
    display: flex;
    justify-content: center;
}

.images_container img  {
    /* filter: saturate(0); */
    filter: grayscale(100%);
    mix-blend-mode: color-burn;
    transition: all 200ms ease-in-out;
}

.images_container img:hover  {
    /* filter: saturate(0); */
    filter: grayscale(0);
    mix-blend-mode: normal;
}

.messi_image .ronaldo_image {
    height: 100%;
}

.messi_image {
    /* background-color: aqua; */
    transform: translate(10%, 0);
}

.ronaldo_image {
    /* background-color: antiquewhite; */
    transform: translate(-10%, 0);
}