.toolbar_container{
    margin: 0 10%;
    padding: 1%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 15%;
}

.logo_image {
    /* background-color: azure; */
    height: 100%;
    z-index: 1;
}

.toolbar_tabs{
    width: 20%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.toolbar_tabs li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5%;
    transition: all 200ms ease-in-out;
}

.toolbar_tabs li a:hover {
    color: rgb(122, 5, 69);
}

/*=======================================================*/
.effect {
    position: absolute;
    top: -5%;
    left: -25%;
    transform: rotate(-90deg);
    opacity: 0.1;
    z-index: 0;
    /* background-color: aqua; */
}

