.match_page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  color: gray;
  font-weight: bold;
}

/* teams container */
.match_page .match_container {
  background-image: url('../../images/stad2.png');
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1 0;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 50px;
}

.match-wrapper {
  width: 60%;
  height: 100%;
  margin-right: 20px;
  background-color: #dddddd82;
  outline: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}

/* match container header */
.match-wrapper .match_container_header {
  height: 30%;
  padding: 40px 0 10px 50px;
  font-weight: bold;
  width: 100%;
}

.match_container_header > div p {
  margin: 0;
  line-height: normal;
  font-size: 40px;
}

.match_container_header .match_stadium p:last-child {
  font-size: 20px;
}

/* match teams */
.match_page .match_container .match_teams_flags {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: start;
  /* background-color: antiquewhite; */
}

.match_page .match_container .match_teams_flags .match-team {
  /* background-color: aliceblue; */
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.match_teams_flags .match-team .team-logo {
  width: 100%;
  height: 50%;
}

.match_teams_flags .match-team .team-name {
  font-size: 2em;
  width: max-content;
}

.match_page .match_container .match_teams_flags img {
  width: 100%;
  height: 100%;
  outline: 1px solid black;
}

.match_page .match_container .match_teams_flags span {
  font-size: 2.5em;
  margin: 40px;
}

.match-details {
  flex: 1 1 0;
  width: 100%;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* match details */
.match-details > div {
  min-width: 100px;
  padding: 2px;
  margin: 0 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: #8d253d;
  color: white;
  font-size: 18px;
  font-weight: bold;
  /* margin: 1%; */
}

.match-details > div img {
  height: 16px;
  margin: 0 5px;
}

.match-details > div p {
  margin: 0;
}

/* reservation container */
.ticket-details-wrapper {
  width: 20%;
  background-color: #dddddd82;
  outline: 1px solid black;
  border-radius: 10px;
  padding: 15px;
}

.ticket-details-wrapper ul {
  list-style: none;
  padding: 0;
}

.ticket-details-wrapper ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

/* reservation button */
.reservation_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.reservation_container span {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

.reservation_container .reservation-button {
  background-color: #8d253d;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* reservation button hover */
.reservation_container .reservation-button:hover {
  background-color: rgb(0 0 0 / 50%);
}
