.signup_page {
  height: 100%;
  width: 100%;
  font-family: sans-serif, Verdana, Geneva, Tahoma;
}

.signup_page .signup_container {
  width: 100%;
  height: 100%;
  /* background-color: antiquewhite; */
  display: flex;
}

.signup_page .signup_container .carosel-container {
  background-image: url('../images/fig1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: aqua; */
  height: 100%;
  flex-grow: 1;
}

.signup_page .signup_container .authFormContainer {
  overflow-y: scroll;
  /* background-color: azure; */
  width: 500px;
  padding: 2%;
}

.signup_page .signup_container .authFormContainer .errorMessage {
  background-color: rgb(216, 166, 166);
  border-radius: 5px;
  border: solid 2px red;
  padding: 1%;
  margin-bottom: 2%;
}

.signup_page .signup_container .authFormContainer .inputErrorMsg {
  background-color: black;
  padding: 1%;
  color: aliceblue;
  font-size: small;
  display: block;
  /* transition: 0.5s all ease-in-out; */
}

.signup_page .signup_container .authFormContainer .authForm {
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
  /* justify-content: space-between; */
}

/* .signup_page .signup_container .authFormContainer .inputErrorMsg FontAwesomeIcon {
  margin: 1%;
} */

.signup_page .signup_container .authFormContainer h1,
h4 {
  font-weight: bolder;
}

.signup_page .signup_container .authFormContainer .authForm > div {
  /* background-color: aqua; */
  /* text-align: center; */
  display: flex;
  /* min-height: 100vh; */
  /* align-items: center; */
  /* justify-content: start; */
  flex-direction: column;
  margin: 1% 0;
}

.invisible {
  display: none;
}

.signup_page .signup_container .authFormContainer label {
  font-weight: bolder;
  font-size: smaller;
  color: gray;
  /* background-color: brown; */
}

.signup_page .signup_container .authFormContainer input,
select {
  /* margin: 0.5rem 0; */
  margin: 0;
  text-align: left;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px black;
  padding: 1%;
}

/* .signup_page .signup_container .authFormContainer select{
  margin: 0.5rem 0;
  text-align: center;
} */

.signup_page .signup_container .authFormContainer button {
  border: none;
  background-color: rgb(113, 27, 89);
  padding: 20px;
  border-radius: 30px;
  color: aliceblue;
}
