/* Matches Slot*/
.matchesSlot {
    /* min-height: 700px; */
    /* margin: 50px 0; */
    /* margin-bottom: 50px; */
    position: relative;
}

.matchesSlot .slotHeader {
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
}

.matchesSlot .slotHeader h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative; 
}

.matchesSlot .slotHeader h2::before, .matchesSlot .slotHeader h2::after {
    content: "";
    background-color: black;
    height: 1px;
    width: 170px;
    display: inline-block;
    position: absolute;
    top: 50%;
}

.matchesSlot .slotHeader h2::before {
    left: 120%;
}
.matchesSlot .slotHeader h2::after {
    right: 120%;
}

.matchesSlot .world-cup-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    z-index: 0;
    filter: grayscale(100%);
    opacity: 0.2;
    mix-blend-mode: color-burn;
}

/* ===================== Matches ===================== */
.matchesContainer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: antiquewhite; */
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overflow-x: auto;
}

.matchesContainer a {
    text-decoration: none;
    color: white;
}

.matchContainer{
    background-image: linear-gradient(90deg, #48052b, #791137);
    border: 1px solid gray;
    margin: 10px;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.matchContainer:hover {
    border: 1px solid black;
}

.matchContainer .match-date {
    /* background-color: aliceblue; */
    height: 40%;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.matchContainer .match_teams {
    /* background-color: antiquewhite; */
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: start;
    /* font-size: 2em; */
    /* font-weight: bold; */
}

.matchContainer .match_teams > div {
    /* background-color: aliceblue; */
    display: flex;
    width: 20%;
    height: 70%;
    flex-direction: column; 
    justify-content: start;
    align-items: center;
    margin: 0 10px; 
}

.matchContainer .match_teams > div p {
    width: max-content;
    margin: 0;
    font-size: 1.2em;
}
.matchContainer .match_teams > div img {
    height: 50%;
    width: 100%;
    
}

.matchContainer .match_teams span {
    font-size: 1.5em;
    font-weight: bold;
    border: 3px solid wheat;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #48052b;
}