.match_page {
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.match_page .match_container {
    background-color: blueviolet;
    background-image: url("../../images/stad2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(226, 226, 226, 1);
    background-blend-mode: hard-light;
    filter: saturate(0);
    opacity: 0.4;
    flex-grow: 1;
    /* position: relative; */
}

