.buy_ticket_page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.buy_ticket_body {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* stadium seats */
.stadium_seats {
}

.seats_container {
  width: 100%;
  padding: 10px;
}

.seats_container table {
  width: 100%;
  height: 100%;
}

.seats_container table tr {
}

.seats_container table tr td {
  text-align: center;
}

.seats_container table tr td > input {
  display: none;
}

.seats_container table tr td > .valid_seat + label img {
  filter: invert(72%) sepia(43%) saturate(5958%) hue-rotate(141deg)
    brightness(106%) contrast(92%);
}

.seats_container table tr td > .valid_seat:checked + label img {
  filter: invert(12%) sepia(93%) saturate(5970%) hue-rotate(10deg)
    brightness(85%) contrast(122%);
}

/* seat disabled */
.invalid_seat {
}

/* paying methods */
.paying_methods {
  display: flex;
}

.paying_methods > div {
  display: flex;
  flex-direction: column;
}

.paying_methods div:first-child {
  flex: 2;
  margin-right: 5px;
}

.paying_methods div:last-child {
  flex: 1;
}
